@font-face {
  font-family: "CreativeVintageRegular";
  src: url('./fonts/CreativeVintageRegular/font.woff2') format('woff2'), url('./fonts/CreativeVintageRegular/font.woff') format('woff');
}

:root[data-theme=light], [data-theme][data-theme=light] {
  --chakra-colors-chakra-body-text: #446a46 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CreativeVintageRegular', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
