@font-face {
  font-family: "CreativeVintageRegular";
  src: url('./fonts/CreativeVintageRegular/font.woff2') format('woff2'), url('./fonts/CreativeVintageRegular/font.woff') format('woff');
}

:root[data-theme=light], [data-theme][data-theme=light] {
  --primary: #fbfcfb;
  --secondary: #446a46;
  --tertiary: #215122;


  --chakra-colors-chakra-body-text: var(--secondary) !important;
  --chakra-colors-chakra-body-bg: var(--primary) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CreativeVintageRegular', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: none !important;
  background-color: #ffc4dd;
}

ul {
  list-style-position: inside;
  margin: 10px 0 0 !important;
}

ul li {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: #ffc4dd;
}
