@font-face {
  font-family: "CreativeVintageRegular";
  src: url('./fonts/CreativeVintageRegular/font.woff2') format('woff2'), url('./fonts/CreativeVintageRegular/font.woff') format('woff');
}

:root[data-theme=light], [data-theme][data-theme=light] {
  --primary: #f1f4f2;
  --secondary: #446a46;
  --tertiary: #215122;
  --highlight: #fdc3dc;


  --chakra-colors-chakra-body-text: var(--secondary) !important;
  --chakra-colors-chakra-body-bg: var(--primary) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CreativeVintageRegular', sans-serif;
}

a {
  color: inherit;
  text-decoration: underline !important;
}

a:hover {
  text-decoration: none !important;
  background-color: #ffc4dd;
}

ul {
  list-style-position: inside;
  margin: 10px 0 0 !important;
}

ul li {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--highlight);
}

.chakra-form-control .chakra-radio__control {
  background-color: var(--tertiary) !important;
  border-color: var(--tertiary) !important;
  width: 30px;
  height: 30px;
}

.chakra-form-control .chakra-radio__control[data-checked]:before,
.chakra-form-control .chakra-radio__control[data-hover]:before {
  background-color: var(--highlight);
}

.chakra-form-control .chakra-input,
.chakra-form-control .chakra-textarea {
  border-bottom: 1px dashed;
  border-color: var(--primary) !important;
  box-shadow: none !important;
}

form .chakra-button:hover {
  color: var(--tertiary);
}
